.faq-content
	.acor-container
		//=========== single block =============
		.acor-item
			input#acor1(type='checkbox' name='acor' checked='checked')
			label(for='acor1') Что такое ФАХВЕРК?
			.acor-body
				p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. Таким образом технология позволяет строить дома в современном стиле, с панорамным остеклением. Дома не дают усадки, за счет отсутствия усадки клееного бруса вдоль волокон, а также являеются экологичными и энергоэффективными.
		
		//=========== single block =============
		.acor-item
			input#acor2(type='checkbox' name='acor')
			label(for='acor2') Что входит в «теплый контур»?
			.acor-body
				p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. 
				p В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. 
		
		//=========== single block =============
		.acor-item
			input#acor3(type='checkbox' name='acor')
			label(for='acor3') Сколько стоит под ключ?
			.acor-body
				p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
		
		//=========== single block =============
		.acor-item
			input#acor4(type='checkbox' name='acor')
			label(for='acor4') Какой фундамент подходит? 
			.acor-body
				p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.