
+header-menu(
	{
		link: 'catalog.html',
		title: "проекты",
		subitem:[{sublink: '#!', subtitle:'Строительство'}, {sublink: '#!', subtitle:'Фото и видео'}, {sublink: '#!', subtitle:'Конструктив'}, {sublink: '#!', subtitle:'Описание дома'}]
	},
	{
		link: '#!',
		title: "НАШИ ДОМА",
		subitem:[{sublink: '#!', subtitle:'Строительство'}, {sublink: '#!', subtitle:'Фото и видео'}, {sublink: '#!', subtitle:'Конструктив'}, {sublink: '#!', subtitle:'Описание дома'}]
	},
	{
		link: '#!',
		title: "производство",
		subitem:[{sublink: '#!', subtitle:'Строительство'}, {sublink: '#!', subtitle:'Фото и видео'}, {sublink: '#!', subtitle:'Конструктив'}, {sublink: '#!', subtitle:'Описание дома'}]
	},
	{
		link: 'service.html',
		title: "Услуги ",
		subitem:[{sublink: '#!', subtitle:'Строительство'}, {sublink: '#!', subtitle:'Фото и видео'}, {sublink: '#!', subtitle:'Конструктив'}, {sublink: '#!', subtitle:'Описание дома'}]
	},
	{
		link: 'news.html',
		title: " О НАС",
		subitem:[{sublink: '#!', subtitle:'Новости'}, {sublink: '#!', subtitle:'Фото и видео'}, {sublink: '#!', subtitle:'Конструктив'}, {sublink: '#!', subtitle:'Описание дома'}]
	},
				{
		link: '#!',
		title: " статьи"
	},			
	{
		link: 'contacts.html',
		title: "КОНТАКТЫ"
	}
)