
//==============MOB MENU=============
.header-menu#mobile-menu
	ul
		// пункт меню  с подменю 
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="catalog.html") проекты
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Строительство
					li.drop-menu
						a(href="#!") Фото и видео
					li.drop-menu
						a(href="#!") Конструктив
					li.drop-menu
						a(href="#!") Описание дома
						
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") НАШИ ДОМА
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Строительство
					li.drop-menu
						a(href="#!") Фото и видео
					li.drop-menu
						a(href="#!") Конструктив
					li.drop-menu
						a(href="#!") Описание дома
		
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") производство
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Строительство
					li.drop-menu
						a(href="#!") Фото и видео
					li.drop-menu
						a(href="#!") Конструктив
					li.drop-menu
						a(href="#!") Описание дома
			
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") Услуги
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Строительство
					li.drop-menu
						a(href="#!") Фото и видео
					li.drop-menu
						a(href="#!") Конструктив
					li.drop-menu
						a(href="#!") Описание дома
		li
			a.first-link(href="news.html") О НАС
		li
			a.first-link(href="#!") статьи
		li
			a.first-link(href="contacts.html") КОНТАКТЫ

	//====тел + кнопки=====
	.contacts-block
		.contacts-block-phone
			a(href="#") 8 (800) 301-43-74
		button.button.button-slim--white Перезвоните мне
		button.button.button-slim--orange Online-консультация