
//==============MOB MENU=============
.header-menu#mobile-menu
	ul
		// пункт меню  с подменю 
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") Направления
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
						
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") Направления
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
		
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") Направления
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
			
		li.drop-menu.drop-menu_2
			span.drop-icon
			a.first-link(href="#!") Направления
			
			// второй  уровень
			.submenu.submenu--medium.submenu-2
				ul
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
					li.drop-menu
						a(href="#!") Лечение позвоночника
		li
			a.first-link(href="#!") Для врачей
		li.last-item
			a.first-link(href="#!") Все разделы
	//====тел + кнопки=====
	.contacts-block
		.contacts-block-phone
			a(href="#") 8 (800) 301-43-74
		button.button.button-slim--white Перезвоните мне
		button.button.button-slim--orange Online-консультация