section.benefits.p-60.grey-bg
	//=======декоративные овалы на фоне ======
	.oval-left-bg
	.oval-right-bg
	
	.container
		.benefits-title
			.section-title наши преимущества
		.benefits-slider.swiper
			.swiper-wrapper
				.swiper-slide
					+benefit-item('Производство', 'benefit1')
				.swiper-slide
					+benefit-item('Производство', 'benefit2')
				.swiper-slide
					+benefit-item('Производство', 'benefit3')
				.swiper-slide
					+benefit-item('Производство', 'benefit4')
				.swiper-slide
					+benefit-item('Производство', 'benefit4')
				.swiper-slide
					+benefit-item('Производство', 'benefit4')
				.swiper-slide
					+benefit-item('Производство', 'benefit1')
				.swiper-slide
					+benefit-item('Производство', 'benefit2')
				.swiper-slide
					+benefit-item('Производство', 'benefit3')
			//=======стрелки слайдера =========
			.swiper-arrows
				.benefits-slider-next.swiper-button-next
				.benefits-slider-prev.swiper-button-prev