section.benefits.p-60.grey-bg
	//=======декоративные овалы на фоне ======
	//- .oval-left-bg
	//- .oval-right-bg
	
	.container
		.benefits-title
			.section-title наши преимущества
		.benefits-slider.swiper
			.swiper-wrapper
				.swiper-slide
					+benefit-item('Производство', 'benefit1',  100, '', 'true')
				.swiper-slide
					+benefit-item('Силовой каркас', 'benefit2',  100,'',  'true')
				.swiper-slide
					+benefit-item('Утепление дома', 'benefit3',  100, '', 'true')
				.swiper-slide
					+benefit-item('Остекление', 'benefit4',  100, '', 'true')
				.swiper-slide
					+benefit-item('Экологичность', 'benefit4',  100, '', 'true')
				.swiper-slide
					+benefit-item('Планировка и отделка', 'benefit4',  100, '', 'true')
				.swiper-slide
					+benefit-item('Монтаж и сборка', 'benefit1',  100, '', 'true')
				.swiper-slide
					+benefit-item('Производство', 'benefit2',  100,'',  'true')
				.swiper-slide
					+benefit-item('Силовой каркас', 'benefit3', 100, '',  'true')
			//=======стрелки слайдера =========
			.swiper-arrows
				.benefits-slider-next.swiper-button-next
				.benefits-slider-prev.swiper-button-prev