section.feedback.grey-bg
	.container
		.feedback-content
			.feedback-content__left
				.feedback-content__icon
					i.fa-solid.fa-envelope-open-text
				.feedback-content__text
					.feedback-title Оставьте заявку
					.feedback-subtitle Заполните форму, чтобы получить бесплатную консультацию специалиста.
			.feedback-content__right
				.feedback-form
					form.contact-form
						.contact-form__row
							.form-item
								input(type="text" placeholder="Имя" name="name")
							.form-item
								input.phone(type="text" placeholder="Телефон" name="phone")
						.form-item
							textarea(name="message" placeholder="Комментарий")
						
						.form-button
							button.btn(type="submin") Оставить заявку