footer.footer
	.footer-top
		.container 
			//======  footer menu =============
			.footer-menu
				
				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 Проекты
					nav
						a.animate-border(href="#!") Одноэтажные
						a.animate-border(href="#!") Двухэтажные
						a.animate-border(href="#!") Бани/Гаражи
						a.animate-border(href="#!") Гостевые
				
				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 Наши дома
					nav
						a.animate-border(href="#!") Строительство
						a.animate-border(href="#!") Фото и видео
						a.animate-border(href="#!") Конструктив
						a.animate-border(href="#!") Описание дома
				
				
				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 Производство
					nav
						a.animate-border(href="#!") Фото и видео
						a.animate-border(href="#!") Качество бруса
						a.animate-border(href="#!") Сертификаты
				
				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 Услуги
					nav
						a.animate-border(href="#!") Проектирование
						a.animate-border(href="#!") Сборка каркаса
						a.animate-border(href="#!") Монтаж кровли
						a.animate-border(href="#!") Остекление
						a.animate-border(href="#!") Монтиаж контура
						a.animate-border(href="#!") Покраса дома
						a.animate-border(href="#!") Утепление дома
						a.animate-border(href="#!") Внешняя отделка

				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 О нас
					nav
						a.animate-border(href="#!") Компания
						a.animate-border(href="#!") Новости
						a.animate-border(href="#!") Отзывы
				
				//======= single list ============
				.footer-menu__list
					a(href="#").title-16 Статьи
					a(href="#").title-16 Контакты
					a(href="#").title-16 Карта сайта

			//=== for mov version ======
			.footer-mobile-contacts
				.page-contacts
					.page-contacts__phone
						a.animate-border(href="tel:89028658285") +7 902-865-82-85
					.page-contacts__phone
						a.animate-border(href="tel:89085813946") +7 908 581-39-46
				.footer-social
					.page-social__links
						p Присоединяйтесь
						script(src='https://yastatic.net/share2/share.js')
						.ya-share2(data-curtain='' data-shape='round' data-services='odnoklassniki,telegram,viber,whatsapp')
	//======= footer-bottom ============
	.footer-bottom
		.container
			.footer-bottom-content
				.page-logo
					a(href="index.html")
						img(src="./img/logo.png", alt="logo")
					.text-12 &copy; 2022, УралФахверк
				//======= phones ============
				.page-contacts
					.page-contacts__phone
						a.animate-border(href="tel:89028658285") +7 902-865-82-85
					.page-contacts__phone
						a.animate-border(href="tel:89085813946") +7 908 581-39-46

				//======= address ============
				.footer-address
					.footer-address-content
						.page-address 454091 г. Челябинск, пл. Революции, дом 7
						.page-email
							a.animate-border(href="mailto:domkomplekt74@ya.ru") domkomplekt74@ya.ru
				
				//======= social ============
				.footer-social
					.page-social__links
						p Присоединяйтесь
						script(src='https://yastatic.net/share2/share.js')
						.ya-share2(data-curtain='' data-shape='round' data-services='odnoklassniki,telegram,viber,whatsapp')