section.guarantees.grey-bg
	//=======декоративные овалы на фоне ======
	.oval-left-bg
		img(src="./img/oval1.png", width="660" alt="alt")
	.oval-right-bg
		img(src="./img/oval2.png", width="660" alt="alt")
	.container
		.guarantees-title
			.section-title Мы гарантируем
		.guarantees-content
			.guarantees-item
				.info-item
					.info-item__icon
						img(src="./img/benefit1.png", width="100"  alt="alt")
					.info-item__desk Полный цикл выполняемых работ — от разработки  проекта  до сборки дома
			.guarantees-item
				.info-item
					.info-item__icon
						img(src="./img/benefit2.png", width="100"  alt="alt")
					.info-item__desk Европейское качество клеёного бруса и домокомплектов из него
			.guarantees-item
				.info-item
					.info-item__icon
						img(src="./img/benefit3.png", width="100"  alt="alt")
					.info-item__desk Индивидуальный подход к каждому клиенту
			.guarantees-item
				.info-item
					.info-item__icon
						img(src="./img/benefit4.png", width="100"  alt="alt")
					.info-item__desk Доступные цены

//==============гарантии слайдер на моб версии ===================
section.guarantees-mobile.grey-bg
	.container
		.guarantees-title
			.section-title Мы гарантируем
		
		//=======слайдер Гарантии моб версия ==============
		.guarantees-content.guarantees-content-mobile.swiper
			.swiper-wrapper
				.swiper-slide
					.info-item
						.info-item__icon
							img(src="./img/benefit1.png", width="100"  alt="alt")
						.info-item__desk Полный цикл выполняемых работ — от разработки  проекта  до сборки дома
				.swiper-slide
					.info-item
						.info-item__icon
							img(src="./img/benefit2.png", width="100"  alt="alt")
						.info-item__desk Европейское качество клеёного бруса и домокомплектов из него
				.swiper-slide
					.info-item
						.info-item__icon
							img(src="./img/benefit3.png", width="100"  alt="alt")
						.info-item__desk Индивидуальный подход к каждому клиенту
				.swiper-slide
					.info-item
						.info-item__icon
							img(src="./img/benefit4.png", width="100"  alt="alt")
						.info-item__desk Доступные цены
			//=======стрелки слайдера =========
			.swiper-arrows
				.guarantees-slider-next.swiper-button-next
				.guarantees-slider-prev.swiper-button-prev