.header-banner(style="background-image: url(./img/header-banner.jpg)")
	.container
		.header-banner__content
			.header-banner__title
				.title-1 СОВРЕМЕННЫЕ ФАХВЕРКОВЫЕ ДОМА
					span для комфортной жизни загородом
			.header-banner__subtitle ПРОЕКТИРОВАНИЕ, ПРОИЗВОДСТВО, СТРОИТЕЛЬСТВО ПО&nbsp;ВСЕЙ&nbsp;РОССИИ
			
			.header-button
				button.btn(frame-btn="order_calculation") Оставить заявку