section.how-work.p-60.grey-bg
	.container
		.how-work
			.section-title как мы работаем
		.how-work-block
			.how-work-block__item
				+benefit-item('Звонок<br class="visible-desk"> с сайта', 'icon-1',  100, 'Звоните нам по тел: <a href="tel:+79028658285" >+7 902-865-82-85</a> или оставляете заявку на сайте')
			.how-work-block__item
				+benefit-item('Консультация<br class="visible-desk"> и расчёт', 'icon-2',  100, 'Наш специалист проконсультирует вас и ответит на все вопросы, сделает расчет.')
			.how-work-block__item
				+benefit-item('Обсуждение<br class="visible-desk"> деталей', 'icon-3',  100, 'Выбираете планировку, утверждаете проект, cроки,  фиксируете стоимость. ')
			.how-work-block__item
				+benefit-item('Подписание<br class="visible-desk"> договора', 'icon-4',  100, 'Подписываете договор и все сопутствующие документы. А так же вносите предоплату.')
			.how-work-block__item
				+benefit-item('Начало<br class="visible-desk"> строительства ', 'icon-5',  100, 'Приступаем к троительству. Вы можете отслеживать все этапы строительства. ')
			.how-work-block__item
				+benefit-item('Окончание<br class="visible-desk"> строительства', 'icon-6',  100, 'Вы принимаете нашу работу, подписываете документы и вносите остаток суммы.')
			.how-work-block__item
				+benefit-item('Удовольствие<br class="visible-desk"> от результатов ', 'icon-7',  100, 'Получаете удовольствие от проделанной нами работы!')
			.how-work-block__item
				+benefit-item('Оставляете<br class="visible-desk"> отзыв', 'icon-7',  100, 'Вы можете оставить свой отзыв о проделанной работе нашей компании, в разделе отзывы. ')