//============== information block ===========
section.information-block.single-news-info
	.container
		.title-column
			.section-title дОМ Модерн под Санкт Петербургом
			.section-subtitle Закончена сборка фахверк дома с панорамным остеклением под Санкт Петербургом
		.information-block__content
			//========== блок с текстом ============
			.information-block__text
				
				p Мы,  команда  профессионалов, которые дорожат своей  репутацией, поэтому на каждом  этапе работ  от проекта до монтажа дома мы  гарантируем максимальное качество. Многолетний опыт проектирования, строительства и эксплуатации фахверковых домов с панорамным остеклением в условиях Урало-Сибирского региона и Приморья позволил  нам создать надежный, теплый, экологичный, дом выдерживающий сильные ветра, морозы, перепады температур и высокую влажность.

				p Мы строим свои фахверк дома по  всей России. Наши  дома  уже стоят в  Москве, Санкт-Петербурге, Челябинске, Владивостоке, Новосибирске и Екатеринбурга. В этом сезоне  мы  изготовили домокомплект для  Камчатки и Тобольска на  очереди  Сочи и Кострома.  Сейчас  мы  проектируем  фахверк  для Канады, получили запросы на  домокомплекты из Чехии и Германии.
			
			//========== блок с картинкой ============
			.information-block__img.information-block__img-video
				.video-play(frame-btn="modal-video")
					img(src="./img/play.png", width="100" alt="play")
				img(src="./img/post.jpg", width="516" alt="alt")

section.gallery
	.container
		.title-24 Фотогалерея
		.gallery-block
			.gallery-block__item
				a(href="./img/news1.jpg" data-lightbox="fotoalbum")
					img(src="./img/news1.jpg",  alt="img")
			.gallery-block__item
				a(href="./img/news2.jpg"  data-lightbox="fotoalbum")
					img(src="./img/news2.jpg", alt="img")
			.gallery-block__item
				a(href="./img/news11.jpg" data-lightbox="fotoalbum")
					img(src="./img/news11.jpg",  alt="img")
			.gallery-block__item
				a(href="./img/news1.jpg"  data-lightbox="fotoalbum")
					img(src="./img/news1.jpg", alt="img")
			.gallery-block__item
				a(href="./img/news2.jpg"  data-lightbox="fotoalbum")
					img(src="./img/news2.jpg",  alt="img")
			.gallery-block__item
				a(href="./img/news11.jpg"  data-lightbox="fotoalbum")
					img(src="./img/news11.jpg",  alt="img")
