//============== information block ===========
section.information-block
	.container
		.information-block__content
			//========== блок с текстом ============
			.information-block__text
				.section-title Лаконичный заголовок
				p Мы,  команда  профессионалов, которые дорожат своей  репутацией, поэтому на каждом  этапе работ  от проекта до монтажа дома мы  гарантируем максимальное качество. Многолетний опыт проектирования, строительства и эксплуатации фахверковых домов с панорамным остеклением в условиях Урало-Сибирского региона и Приморья позволил  нам создать надежный, теплый, экологичный, дом выдерживающий сильные ветра, морозы, перепады температур и высокую влажность.

				p Мы строим свои фахверк дома по  всей России. Наши  дома  уже стоят в  Москве, Санкт-Петербурге, Челябинске, Владивостоке, Новосибирске и Екатеринбурга. В этом сезоне  мы  изготовили домокомплект для  Камчатки и Тобольска на  очереди  Сочи и Кострома.  Сейчас  мы  проектируем  фахверк  для Канады, получили запросы на  домокомплекты из Чехии и Германии.
			
			//========== блок с картинкой ============
			.information-block__img
				img(src="./img/post.jpg", width="516" alt="alt")