.modal-frame(frame-modal="benefit-desk")
	.modal-frame-close(frame-close)
		span +
		
	.modal-frame-content
		.modal-frame-benefits
			.title-22 Производство
			p Стены обычно заполняются экологичными, теплоизоляционными базальтовыми плитами Rockwool. Утепление крыши и пола первого этажа 200 мм, внешних стен 150 мм с перехлестом швов и может быть увеличено.
			p Базальтовые  плиты внутри и снаружи дома  защищены специальными ветро влаго защитными и пароизоляционными мембранами с прослойкой алюминия, что предотвращает продувание дома и проникновения влаги.
			p По  желанию  Заказчика  возможно применить в качестве  утеплителя PIR панели толщиной 80 и 100мм. Энергоэффективность и ветро-влаго защищенность наших  домов подтверждается их многолетней эксплуатацией в погодных  условиях  Приморского края, Урала и Сибири.

			p Видео и фото  процесса утепления домов см. в разделе #[a(href="#!") Сборка]  и #[a(href="#!") Наши Дома]
			