//=====video modal ================
.modal-frame.modal-video(frame-modal="modal-video")
	.modal-frame-close(frame-close)
		span +
		
	.modal-frame-content
		.modal-video-wrapper
			iframe#v1(width='100%' height='100%' src='https://www.youtube.com/embed/znY973Vn0Go?enablejsapi=1' frameborder='0' allowfullscreen='')