section.news-page-content
	.container
		.news-page-title
			.section-title Новости от Урал Фахверк
		
		//==== cards block =====
		.news-page-cards
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news11.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news2.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news1.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news11.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news2.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
			//==== single-card =====
			.news-card
				.news-card__img
					img(src="./img/news1.jpg",  height="220" alt="alt")
				.news-card__text
					a(href="single-news.html") Продолжаем монтаж каркаса фахверка с плоской кровлей
					p Если Вы планируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект ланируете заказать у нас  фахверк приглашаем Вас приехать на строящийся объект
				.news-card__date 10 января 2022
		
		//======= Показать еще ========
		.show-more-btn.flex-center
			button.show-more
				span Показать еще
				i.fa-solid.fa-rotate-right
		//======= блок с пагинацией ========
		.paginatopn-block-wrapper
			.paginatopn-block
				a.active(href="#!") 1
				a(href="#!") 2
				a(href="#!") 3
				a(href="#!") ...
				a(href="#!") 15





