section.portfolio
	.container
		.flex-header
			.projects-title
				.section-title другие объекты
			.section-button
				a(href="#!").btn-light смотреть все объекты
		
	.portfolio-slider.swiper
		.swiper-wrapper
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_1.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_2.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_3.jpg", height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_4.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_5.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_1.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
			.swiper-slide
				a(href="").portfolio-item
					img(src="./img/photo_2.jpg",  height="220" alt="alt")
					p Двухэтажный  дом «Сканди Лонг»
		.swiper-arrows
			.portfolio-slider-next.swiper-button-next
			.portfolio-slider-prev.swiper-button-prev