section.portfolio
	.container
		.flex-header
			.projects-title
				.section-title другие объекты
			.section-button
				a(href="#!").btn-light смотреть все объекты
		
		.portfolio-slider--short.swiper
			.swiper-wrapper
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_1.jpg",  height="220" alt="alt")
						p Двухэтажный  дом «Сканди Лонг»
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_2.jpg",  height="220" alt="alt")
						p Внутренние работы на доме Норди Екатеринбург
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_3.jpg", height="220" alt="alt")
						p Закончен монтаж кровли дом Сканди ГК Евразия
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_4.jpg",  height="220" alt="alt")
						p Сдан очередной двухэтажный фахверк под Владивостоком.
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_5.jpg",  height="220" alt="alt")
						p Двухэтажный  дом «Сканди Лонг»
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_1.jpg",  height="220" alt="alt")
						p Двухэтажный  дом «Сканди Лонг»
				.swiper-slide
					a(href="").portfolio-item
						.portfolio-item__img
							img(src="./img/photo_2.jpg",  height="220" alt="alt")
						p Двухэтажный  дом «Сканди Лонг»
			.swiper-arrows
				.portfolio-short-next.swiper-button-next
				.portfolio-short-prev.swiper-button-prev