section.projects.p-60
	.container
		.flex-header
			.projects-title
				.section-title проекты и цены
			.section-button
				a(href="#!").btn-light все проекты домов
		
		//======== карточки ============
		.projects-wrapper
			.projects-wrapper__item
				+projects-card('1', 'Сканди Long')
			.projects-wrapper__item
				+projects-card('2', 'Сканди Long')
			.projects-wrapper__item
				+projects-card('3', 'Сканди Long')
			.projects-wrapper__item
				+projects-card('1', 'Сканди Long')
			.projects-wrapper__item
				+projects-card('2', 'Сканди Long')
			.projects-wrapper__item
				+projects-card('3', 'Сканди Long')
			