//============== information block ===========
section.information-block.information-block--service
	.container
		.section-title Проектирование домов в челябинске
		.information-block__content.flex-start
			//========== блок с текстом ============
			.information-block__text.text-18
				
				p Деревянный 2-х этажный фахверк  дом класса комфорт, с панорамным остеклением и несущим каркасом из  клеёного  конструкционного  бруса. Дом для постоянного проживания. 
				p Размер дома 9,8 х 8 м. Ширина фасада 8,5м. Общая площадь дома 134 м2. Высота 1го этажа 2,85м. Высота 2го этажа в коньке 3м. Высота примыкания кровли к стене 2го этажа 1,2 м. Высота дома 6,5м. ланировка дома  свободная: кол-во комнат от 5 до 8.   Площадь безрамного остекления переднего фасада 35 м2. Возможно доп. остекление бокового и заднего фасадов. 
				p Отличительная  особенность - 4х метровый вынос кровли на столбах, что делает его  архитектуру брутальной, а так же позволяет защитить стеклянный фасад от палящего солнца и от любопытных взглядов. Большой  вынос  кровли так же закрывает террасу от дождя и снега и увеличивает ваше  жизненное пространство.  

				.visible-desktop.information-block__btn.mt-30
					button.btn(frame-btn="order_calculation") Заявка на расчет
			
			//========== блок с картинкой ============
			.information-block__img
				img(src="./img/post.jpg", width="516" alt="alt")
			
			.visible-mobile.information-block__btn.mt-30
					button.btn(frame-btn="order_calculation") Заявка на расчет

section.calculation-block
	.container
		.title-24 Цены на проектирование домов в Челябинск
		.calculation-block__table
			.calculation-block__row
				p Эскизная часть проекта
				span
				p от 250 руб/м²
			.calculation-block__row
				p Архитектурная часть проекта
				span
				p от 300 руб/м²
			.calculation-block__row
				p Архитектурная часть проекта
				span
				p от 350 руб/м²
			.calculation-block__row
				p Отопление и вентиляция
				span
				p от 250 руб/м²
			.calculation-block__row
				p Водоснабжение и канализация
				span
				p от 250 руб/м²