section.single-project-info
	.container
		.single-project-content
			.single-project-title.title-column
				.section-title Двухэтажный  дом «Сканди Лонг»
				.section-subtitle  с 4-х метровым выносом кровли на столбах
			
			.single-project-row
				
				//=====photorama =============
				.photorama-slider
					.swiper.mySwiper2
						.swiper-wrapper
							.swiper-slide
								img(src='./img/project/project1.jpg')
							.swiper-slide
								img(src='./img/project/photo_2.jpg')
							.swiper-slide
								img(src='./img/project/photo_3.jpg')
							.swiper-slide
								img(src='./img/project/photo_4.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-5.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-6.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-7.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-8.jpg')
						
						.mySwiper2-next.swiper-button-next
						.mySwiper2-prev.swiper-button-prev
					.swiper.mySwiper(thumbsslider='')
						.swiper-wrapper
							.swiper-slide
								img(src='./img/project/project1.jpg' )
							.swiper-slide
								img(src='./img/project/photo_2.jpg')
							.swiper-slide
								img(src='./img/project/photo_3.jpg')
							.swiper-slide
								img(src='./img/project/photo_4.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-5.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-6.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-7.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-8.jpg')
							
				
				//======описание в правой части ================
				.single-project-desk
					.single-project-desk__text
						p Деревянный 2-х этажный фахверк  дом класса комфорт, с панорамным остеклением и несущим каркасом из  клеёного  конструкционного  бруса. Дом для постоянного проживания. Размер дома 9,8 х 8 м. Ширина фасада 8,5м. Общая площадь дома 134 м2. Высота 1го этажа 2,85м. Высота 2го этажа в коньке 3м. Высота примыкания кровли к стене 2го этажа 1,2 м. Высота дома 6,5м. Планировка дома  свободная: кол-во комнат от 5 до 8.   Площадь безрамного остекления переднего фасада 35 м2. Возможно доп. остекление бокового и заднего фасадов. Отличительная  особенность - 4х метровый вынос кровли на столбах, что делает его  архитектуру брутальной, а так же позволяет защитить стеклянный фасад от палящего солнца и от любопытных взглядов. Большой  вынос  кровли так же закрывает террасу от дождя и снега и увеличивает ваше  жизненное пространство.
					.single-project-desk__price
						ul
							li
								p 
									span Домокомплект
								span 3 120 000 &#8381;
							li
								p 
									span Монтаж т\к
								span 680 000 &#8381;
							li
								p 
									span Дом под ключ
								span 8 450 000 &#8381;
					.single-project-desk__btn
						button.btn(frame-btn="order_call") Заказать звонок

		//===== иконки спецификации ============
		.single-project-specification
			
			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon1.png", alt="img")
					p 2 этажа

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon2.png", alt="img")
					p 4 спальни

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon3.png", alt="img")
					p 3 санузла

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon4.png", alt="img")
					p 11,2 х 10,2 м

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon5.png", alt="img")
					p 83,4 м² теплого контура

section.single-project-variants
	.container
		.title-24 Варианты отделки и покраски дома
		.project-variants-desktop.flex-start
			.single-project-variants__img
				img(src="./img/project/plan1.png", width="612" alt="img")
			.single-project-variants__img
				img(src="./img/project/plan1.png", width="612" alt="img")

		.project-variants-slider.swiper
			.swiper-wrapper
				.swiper-slide
					.single-project-variants__img
						img(src="./img/project/plan1.png", width="612" alt="img")
				.swiper-slide
					.single-project-variants__img
						img(src="./img/project/plan2.png", width="612" alt="img")
			.project-variants-next.swiper-button-next
			.project-variants-prev.swiper-button-prev

section.single-project-complect.grey-bg
	.container
		.title-28.text-center Комплектация
		.project-complect-tabs(custom-tabs)
			.scroll-wrapper
				.custom-tabs__btns
					.custom-tabs-btn.custom-tab--current(ct-btn="1")
						.info-item.info-item--fa
							.info-item__icon
								i.fa-solid.fa-house-circle-xmark
							.info-item__desk Домокомплект без монтажа
					.custom-tabs-btn(ct-btn="2")
						.info-item.info-item--fa
							.info-item__icon
								i.fa-solid.fa-house-flag
							.info-item__desk Домокомплект с монтажом
					
					.custom-tabs-btn(ct-btn="3")
						.info-item.info-item--fa
							.info-item__icon
								i.fa-solid.fa-house-fire
							.info-item__desk Теплый контур
					
					.custom-tabs-btn(ct-btn="4")
						.info-item.info-item--fa
							.info-item__icon
								i.fa-solid.fa-house-lock
							.info-item__desk Дом под ключ
					
			//======Контент Табов =======
			.custom-tabs__content
				//================= Первая вкладка =============
				.custom-tabs__content-block.ct-content--active(ct-content="1")
					include ../blocks/_faq-accor
				
				//================= Вторая вкладка  =============
				.custom-tabs__content-block(ct-content="2")
					.faq-content
						.acor-container
							//=========== single block =============
							.acor-item
								input#acor5(type='checkbox' name='acor' checked='checked')
								label(for='acor5') Что такое ФАХВЕРК?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. Таким образом технология позволяет строить дома в современном стиле, с панорамным остеклением. Дома не дают усадки, за счет отсутствия усадки клееного бруса вдоль волокон, а также являеются экологичными и энергоэффективными.
							
							//=========== single block =============
							.acor-item
								input#acor6(type='checkbox' name='acor')
								label(for='acor6') Что входит в «теплый контур»?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. 
									p В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. 
							
							//=========== single block =============
							.acor-item
								input#acor7(type='checkbox' name='acor')
								label(for='acor7') Сколько стоит под ключ?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
							
							//=========== single block =============
							.acor-item
								input#acor8(type='checkbox' name='acor')
								label(for='acor8') Какой фундамент подходит? 
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
				
				//================= Третья вкладка =============
				.custom-tabs__content-block(ct-content="3")
					.faq-content
						.acor-container
							//=========== single block =============
							.acor-item
								input#acor9(type='checkbox' name='acor' checked='checked')
								label(for='acor9') Что такое ФАХВЕРК?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. Таким образом технология позволяет строить дома в современном стиле, с панорамным остеклением. Дома не дают усадки, за счет отсутствия усадки клееного бруса вдоль волокон, а также являеются экологичными и энергоэффективными.
							
							//=========== single block =============
							.acor-item
								input#acor10(type='checkbox' name='acor')
								label(for='acor10') Что входит в «теплый контур»?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. 
									p В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. 
							
							//=========== single block =============
							.acor-item
								input#acor11(type='checkbox' name='acor')
								label(for='acor11') Сколько стоит под ключ?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
							
							//=========== single block =============
							.acor-item
								input#acor12(type='checkbox' name='acor')
								label(for='acor12') Какой фундамент подходит? 
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
				
				//================= Четвертая вкладка =============
				.custom-tabs__content-block(ct-content="4")
					.faq-content
						.acor-container
							//=========== single block =============
							.acor-item
								input#acor14(type='checkbox' name='acor' checked='checked')
								label(for='acor14') Что такое ФАХВЕРК?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. Таким образом технология позволяет строить дома в современном стиле, с панорамным остеклением. Дома не дают усадки, за счет отсутствия усадки клееного бруса вдоль волокон, а также являеются экологичными и энергоэффективными.
							
							//=========== single block =============
							.acor-item
								input#acor15(type='checkbox' name='acor')
								label(for='acor15') Что входит в «теплый контур»?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами. 
									p В настоящее время для изготовления опорных столбов используют клееный брус, а для заполнение промежутков используют теплоизоляционные материалы и энергоэффективные стеклопакеты последнего поколения. 
							
							//=========== single block =============
							.acor-item
								input#acor16(type='checkbox' name='acor')
								label(for='acor16') Сколько стоит под ключ?
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.
							
							//=========== single block =============
							.acor-item
								input#acor17(type='checkbox' name='acor')
								label(for='acor17') Какой фундамент подходит? 
								.acor-body
									p Фахве́рк (нем. Fachwerk) — тип строительной конструкции, при котором несущей основой служат вертикально установленные столбы, являющиеся опорной конструкцией здания. Пространство между балками заполняется камнем, кирпичом, глиной или другими материалами.