section.single-project-info
	.container
		.breadcr
			a(href="#!") Урал Фахверк
			a(href="#!") Проекты
		
		.single-project-content.pt-40
			.single-project-title.title-column
				.section-title Двухэтажный  дом «Сканди Лонг»
				.section-subtitle  с 4-х метровым выносом кровли на столбах
			
			.single-project-row
				
				//=====photorama =============
				.photorama-slider
					.swiper.mySwiper2
						.swiper-wrapper
							.swiper-slide
								img(src='./img/project/project1.jpg')
							.swiper-slide
								img(src='./img/project/photo_2.jpg')
							.swiper-slide
								img(src='./img/project/photo_3.jpg')
							.swiper-slide
								img(src='./img/project/photo_4.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-5.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-6.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-7.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-8.jpg')
						
						.mySwiper2-next.swiper-button-next
						.mySwiper2-prev.swiper-button-prev
					.swiper.mySwiper(thumbsslider='')
						.swiper-wrapper
							.swiper-slide
								img(src='./img/project/project1.jpg' )
							.swiper-slide
								img(src='./img/project/photo_2.jpg')
							.swiper-slide
								img(src='./img/project/photo_3.jpg')
							.swiper-slide
								img(src='./img/project/photo_4.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-5.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-6.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-7.jpg')
							.swiper-slide
								img(src='https://swiperjs.com/demos/images/nature-8.jpg')
							
				
				//======описание в правой части ================
				.single-project-desk
					.single-project-desk__text
						p Деревянный 2-х этажный фахверк  дом класса комфорт, с панорамным остеклением и несущим каркасом из  клеёного  конструкционного  бруса. Дом для постоянного проживания. Размер дома 9,8 х 8 м. Ширина фасада 8,5м. Общая площадь дома 134 м2. Высота 1го этажа 2,85м. Высота 2го этажа в коньке 3м. Высота примыкания кровли к стене 2го этажа 1,2 м. Высота дома 6,5м. Планировка дома  свободная: кол-во комнат от 5 до 8.   Площадь безрамного остекления переднего фасада 35 м2. Возможно доп. остекление бокового и заднего фасадов. Отличительная  особенность - 4х метровый вынос кровли на столбах, что делает его  архитектуру брутальной, а так же позволяет защитить стеклянный фасад от палящего солнца и от любопытных взглядов. Большой  вынос  кровли так же закрывает террасу от дождя и снега и увеличивает ваше  жизненное пространство.
					.single-project-desk__price
						ul
							li
								p 
									span Домокомплект
								span 3 120 000 &#8381;
							li
								p 
									span Монтаж т\к
								span 680 000 &#8381;
							li
								p 
									span Дом под ключ
								span 8 450 000 &#8381;
					.single-project-desk__btn
						button.btn(frame-btn="order_call") Заказать звонок

		//===== иконки спецификации ============
		.single-project-specification
			
			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon1.png", alt="img")
					p 2 этажа

			//=====одна иконка ======
			.project-specification__item
				div	
					.project-specification__item-img
						img(src="./img/project/icon2.png", alt="img")
					p 4 спальни

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon3.png", alt="img")
					p 3 санузла

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon4.png", alt="img")
					p 11,2 х 10,2 м

			//=====одна иконка ======
			.project-specification__item
				div
					.project-specification__item-img
						img(src="./img/project/icon5.png", alt="img")
					p 83,4 м² теплого контура

section.single-project-variants.pt-50
	.container
		.title-24 Варианты отделки и покраски дома
		.project-variants-desktop.flex-start
			.single-project-variants__img
				img(src="./img/project/plan1.png", width="612" alt="img")
			.single-project-variants__img
				img(src="./img/project/plan1.png", width="612" alt="img")

		.project-variants-slider.swiper
			.swiper-wrapper
				.swiper-slide
					.single-project-variants__img
						img(src="./img/project/plan1.png", width="612" alt="img")
				.swiper-slide
					.single-project-variants__img
						img(src="./img/project/plan2.png", width="612" alt="img")
			.project-variants-next.swiper-button-next
			.project-variants-prev.swiper-button-prev