@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('../fonts/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Montserrat Regular';
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #222222;
  }
  .noscroll {
  	overflow: hidden;
  	touch-action: none;
  	-ms-touch-action: none;
  	height: 100vh;

  	@media(min-width:1200px) {
  		padding-right: 18px;
  	}
  }

  #overlay{
  	display: none;
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(30, 65, 89, .5);
  	backdrop-filter: blur(5px);
  	z-index: 15;
  }

  #overlay.active {
  	display: block;

  }
  
  a{color: inherit}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
.title-1{
	font-size: 36px;
	line-height: 40px;
	font-family: $mb;
	@media(max-width:767px){
		font-size: 22px;
		line-height: 30px;
	}
}
.section-title,
.title-2{
	font-size: 30px;
	font-family: $mb;
	@media(max-width:767px){font-size: 20px;}
}
.section-title{text-transform: uppercase; margin-bottom: 35px;}
.title-3 {
	font-size: 20px;
	font-family: $mm;
}
.title-16{
	font-size: 16px;
	font-family: $mm;
}
.title-22, .title-color{
	font-size: 22px;
	text-transform: uppercase;
	font-family: $mm;
	margin-bottom: 20px;
}
.section-subtitle{
	font-size: 20px;
	line-height: 24px;
	@media(max-width:767px){
		font-size: 16px;
	}
}
.title-24{
	font-size: 24px;
	font-family: $mm;
	margin-bottom: 25px;
	line-height: 1.1;
}
.title-28{
	font-size: 28px;
	font-family: $mm;
	margin-bottom: 1em;
}
.text-center{text-align: center;}
.text-orange,
.title-color {
	color: #ecb553;
}
.text-12{
	font-size: 12px;
	line-height: 20px;
}
.text-14{
	font-size: 14px;
	line-height: 30px;
}
.text-upper{
	text-transform: uppercase;
}
.text-medium{
	font-family: $mm;
}
.flex-block,
.flex-center,
.flex-start,
.flex-end,
.flex-header {
	display: flex;
	align-items: center;
}
.flex-center{
	justify-content: center;
}
.flex-end{justify-content: flex-end;}
.flex-start{
	align-items: flex-start;
}
.flex-header,
.title-column {
	justify-content: space-between;
	.section-title{margin-bottom: 0;}
	margin-bottom: 40px;
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
}
.title-column{
	.section-title {
		margin-bottom: 16px;
	}
}

section+section{
	padding-top: 60px;
	@media(max-width:767px) {
		padding-top: 30px;
		
	}
}
main,
.p-60{
	padding-top: 60px;
	padding-bottom: 60px;
	@media(max-width:767px){
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.pt-40{
	padding-top: 40px;
}
.pt-50{
	padding-top: 50px;
}
.grey-bg{
	background-color: #f4f4f4;
	position: relative;
	overflow: hidden;
	padding-bottom: 60px;
	@media(max-width:767px){
		padding-bottom: 30px;
	}
	.container{position: relative;z-index: 2;
	}
	
}
.w-100{width: 100%;}
.breadcr,
.container{
	width: 1300px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	@media(max-width:1364px){
		width: 1170px;
	}
	@media(max-width:1199px) {
		width: 930px;
	}
	@media(max-width:1023px) {
		width: 730px;
	}
	@media(max-width:767px) {
		width: 540px;
	}
	@media(max-width:574px) {
		width: 100%;
	}
}
.btn,
.btn-light {
	display: inline-block;
	cursor:pointer;
	border: 2px solid $yellow;
	background-color: $yellow;
	height: 38px;
	line-height: 34px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
	color: #1e1f24;
	font-family: $mr;
	transition: .3s;
	white-space: nowrap;
	&:hover{
		background-color: transparent;
	}

}
.btn-light{
	background-color: transparent;
	text-transform: uppercase;
	font-size: 12px;
	&:hover{
		color: #fff;
		background-color: $yellow;
	}
}
.btn-light--green{
	border-color: rgb(177, 184, 59);
	background-color: rgb(205, 212, 67);
	color: #1e1f24;
	&:hover{
		background-color: transparent;
		color: #1e1f24;
	}
}
.color-link{
	color: $yellow;
	border-bottom: 1px solid $yellow;;
}
.animate-border{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		transition: .3s;
		height: 1px;
		background-color: rgba(255,255,255, .7);
	}
	&:hover:after{width: 100%;}
}
.page-contacts{
 .page-contacts__phone{
	 font-size: 18px;
	 line-height: 1.6;
	 @media(max-width:1364px) {
	 	font-size: 14px;
	 }
	&+.page-contacts__phone{margin-top: 10px;}
 }
 
}
.info-item{
	text-align: center;
	max-width: 210px;
	margin-left: auto;
	margin-right: auto;
	&__title{
		font-size: 16px;
		line-height: 18px;
		height: 48px;
		overflow: hidden;
		// margin-bottom: 10px;
	}
	&__icon{
		display: flex;
		justify-content: center;
		height: 100px;
	}
	&__desk{
		
		font-size: 14px;
		line-height: 16px;
		padding-top: 10px;
		a{
			white-space: nowrap;
		}
	}
} 