.breadcr{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	overflow: hidden;
	overflow-x: auto;
	scrollbar-width: none;
	@media (max-width: 767px) {
		margin-bottom: 25px;
	&::-webkit-scrollbar{
		width: 0;
		display: none;
	}
	a{
		color: $yellow;
		position: relative;
		width: fit-content;
		display: block;
		border-bottom: 1px solid $yellow;
		white-space: nowrap;
		@media (max-width: 767px) {
			font-size: 14px;
		}
		&:hover{
			border-bottom:1px solid transparent;
		}
		&:last-child{
			color: #222;
			border-bottom: none;
			cursor: default;
			pointer-events: none;
			&:before{display: none;}
		}
	}
	a:before{
		content: '\f105';
		font-family: 'fontAwesome';
		position: absolute;
		right: -14px;
		top: 3px;
		font-size: 14px;
	}
	a+a{
		margin-left: 20px;
	}
}