.benefits{
	overflow: hidden;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
}
.oval-left-bg, .oval-right-bg{
	position: absolute;
	z-index: 1;
	bottom: 15px;
	left: 0;
	@media (max-width: 1199px) {
		display: none;
	}
}
.oval-right-bg{
	bottom: auto;
	left: auto;
	right: 0;
	top:15%;
    
}
.benefits-slider{
	.info-item {
		cursor:pointer; 
		img{
			transition: .3s;
		}
		&:hover{
			color: $yellow;
			img{filter: grayscale(1);}
		}}
	.swiper-button-next,
	.swiper-button-prev{
		color: #a3a3a3;
		&:after{
			font-size: 28px;
			font-weight: 700;
		}
	}
	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
	}
}
.swiper .swiper-slide{
	display: flex;
	justify-content: center;
}