.benefits{
	overflow: hidden;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
}
// .oval-left-bg, .oval-right-bg{
	
// 	width: 70%;
// 	height: 170%;
// 	border-radius: 50%;
// 	border:10px solid #eeeeee;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: 1;
// 	transform: translate(-50%, -50%);
// 	&:after{
// 		content: '';
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		border-radius: 50%;
// 		border:10px solid #eeeeee;
// 		top: -9%;
// 		left: -5%;
		
// 	}
// }
// .oval-right-bg{
// 	top: auto;
// 	left: auto;
// 	right: 0;
// 	bottom:0;
// 	transform: translate(60%, 60%);
// }
.benefits-slider{
	.info-item {
		cursor:pointer; 
		img{
			transition: .3s;
		}
		&:hover{
			color: $yellow;
			img{filter: grayscale(1);}
		}}
	.swiper-button-next,
	.swiper-button-prev{
		color: #a3a3a3;
		&:after{
			font-size: 28px;
			font-weight: 700;
		}
	}
	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
	}
}
.swiper .swiper-slide{
	display: flex;
	justify-content: center;
}