.benefits{
	overflow: hidden;
	position: relative;
	.container{
		position: relative;
		z-index: 2;
	}
}
.oval-left-bg, .oval-right-bg{
	position: absolute;
	z-index: 1;
	bottom: 15px;
	left: 0;
	@media (max-width: 1199px) {
		display: none;
	}
}
.oval-right-bg{
	bottom: auto;
	left: auto;
	right: 0;
	top:15%;
    
}
.benefits-slider{
	.info-item {
		cursor:pointer; 
		img{
			transition: .3s;
		}
		&:hover{
			color: $yellow;
			img{filter: grayscale(1);}
		}}
	.swiper-button-next,
	.swiper-button-prev{
		top:60%;
		color: #888888;
		&:after{
			font-size: 34px;
			font-weight: 700;
			
		}
	}
	.swiper-button-next {
		right: -10px;
		@media(max-width:1199px){
			right: 0;
		}
	}

	.swiper-button-prev {
		left: -10px;
		@media(max-width:1199px){
			left: 0;
		}
	}
}
.swiper .swiper-slide{
	display: flex;
	justify-content: center;
}
@media(min-width: 768px){
	.benefits-slider .swiper-button-next,
	.benefits-slider .swiper-button-prev {
		width: 50px;
		height: 60px;
		color: #444444;
		&:after {
			font-size: 34px;}
	}
}