.information-block{
	&__content{
		display: flex;
		align-items: center;
		@media(max-width:1023px) {flex-direction: column;}
	}
	&__text{
		width: 59%;
		padding-right: 5%;
		
		@media(max-width:1199px) {
			
			padding-bottom: 30px;
		}
		@media(max-width:1023px){
			width: 100%;
			padding-bottom: 20px;
			padding-right: 0;
		}


	}
	&__img{
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
		width: 41%;
		@media(max-width:1023px){
			width: 100%;
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.section-title {
		
		margin-bottom: 20px;
	}
	p{
		font-size: 14px;
		line-height: 18px;
		& +p{
			margin-top: .7em;
		}
	}
}
.information-block__text.text-18 p{
	font-size: 18px;
	line-height: 1.5;
	@media(max-width:1023px) {
		font-size: 14px;
	}
}
.information-block__content.flex-start{
	align-items: flex-start;
}
.single-news-info,
.information-block--service{
	.section-title{
		margin-bottom: 35px;
		@media(max-width:1023px) {
			margin-bottom: 25px;
		}
	}
}