.modal-frame{
	padding: 35px;
	position: fixed;
	z-index: 50;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 98%;
	max-width: 800px;
	max-height: 80vh;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: #fff;
	border:1px solid #fff;
	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}

	@media(min-width:1199px) {
		scrollbar-width: thin;
		scrollbar-color: #009999 #DEDEDE;

		&::-webkit-scrollbar {
			display: block;
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #009999;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-track {
			background-color: #DEDEDE;
			border-radius: 5px;
		}
	}
}

[frame-modal] {
	display: none;
}

[frame-modal].visible {
	display: flex;
}

.modal-frame-close {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 5;
	font-size: 48px;
	line-height: 1;
	color: $yellow;
	transform: rotate(45deg);
	cursor: pointer;

	&:hover {
		color: #efd4a5;
	}
}
.modal-frame-benefits{
	p{
		margin-top: 20px;
		&:last-child{padding-bottom: 20px;}
	}
	a {
		color: #c58d2d;
		text-decoration: underline;
	}
	
}