//- header-menu-submenu
mixin header-menu(...arg)
	.header-nav
		ul
			each item in arg
				if item.subitem
					li.drop-item
						a(href=""+ item.link) #{item.title}
						.drop-item__icon
							i.fa-solid.fa-caret-down
						ul
							each el in item.subitem
								li
									a(href=""+ el.sublink) #{el.subtitle}
				else
					li
						a(href=""+ item.link) #{item.title}