extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_header-banner.pug
	main.catalog-page.p-60
		.breadcr
			a(href="#!") Урал Фахверк
			a(href="#!") Проекты
		include ../sections/_catalog.pug
		include ../sections/_guarantees.pug
		
		include ../sections/_portfolio.pug
		include ../sections/_feedback.pug
		include ../sections/_faq.pug
		include ../sections/_map.pug
	
	include ../sections/_footer.pug
	
	
	
	include ../sections/_modal-send-message.pug
	
	
	
block variables
	-var title = "Каталог";