extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_header-banner.pug
	include ../sections/_information-block.pug
	include ../sections/_benefits-slider.pug
	include ../sections/_projects.pug
	include ../sections/_how-work.pug
	include ../sections/_portfolio.pug
	
	
	include ../sections/_modals.pug
	
	
	
block variables
	-var title = "Главная";
