extends ../layouts/layout.pug

block content
	
	include ../blocks/_mobmenu.pug	
	include ../sections/_header.pug
	include ../sections/_header-banner.pug
	main.main-page.p-60.pb-0
		include ../sections/_information-block.pug
		include ../sections/_benefits-slider.pug
		include ../sections/_projects.pug
		include ../sections/_how-work.pug
		include ../sections/_portfolio.pug
		include ../sections/_feedback.pug
		include ../sections/_faq.pug
		include ../sections/_map.pug
	
	include ../sections/_footer.pug
	
	
	include ../sections/_modals.pug
	include ../sections/_modal-send-message.pug
	include ../sections/_order_call.pug
	
	
	
block variables
	-var title = "Главная";
