extends ../layouts/layout.pug

block content
	include ../blocks/_mobmenu.pug
	include ../sections/_header.pug
	
	main.service-page.p-60.pb-0
		.breadcr
			a(href="#!") Урал Фахверк
			a(href="#!") Услуги
			a(href="#!") Проектирование дома
			
		include ../sections/_service.pug		
		include ../sections/_portfolio.pug
		include ../sections/_feedback.pug
		include ../sections/_faq.pug
		include ../sections/_map.pug
	
	include ../sections/_footer.pug
	
	
	include ../sections/_modals.pug
	include ../sections/_modal-send-message.pug
	include ../sections/_order_call.pug
	include ../sections/_modal-video.pug
	
	
	
block variables
	-var title = "Услуги";
