extends ../layouts/layout.pug

block content
	include ../blocks/_mobmenu.pug
	include ../sections/_header.pug
	
	main.single-project-page
		.breadcr
			a(href="#!") Урал Фахверк
			a(href="#!") Проекты
		include ../sections/_single-project.pug
		include ../sections/_portfolio2.pug
		include ../sections/_feedback.pug
		include ../sections/_map.pug
	
	include ../sections/_footer.pug
	
	
	
	include ../sections/_modal-send-message.pug
	include ../sections/_order_call.pug
	
	
	
block variables
	-var title = "Страница проекта";