extends ../layouts/layout.pug

block content
	include ../blocks/_mobmenu.pug
	include ../sections/_header.pug
	
	main.single-news.p-60.pb-0
		.breadcr
			a(href="#!") Урал Фахверк
			a(href="#!") О нас
			a(href="#!") Новости
			a(href="#!") Дом Модерн

		include ../sections/_information-block-video.pug
		include ../sections/_guarantees.pug
		include ../sections/_portfolio3.pug
		include ../sections/_feedback.pug
		include ../sections/_faq.pug
		include ../sections/_map.pug
	
	include ../sections/_footer.pug
	
	
	include ../sections/_modals.pug
	include ../sections/_modal-send-message.pug
	include ../sections/_order_call.pug
	include ../sections/_modal-video.pug
	
	
	
block variables
	-var title = "Главная";
